@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Error 500</h1>

    <script type="text/javascript">
        // Check if there is an error message
        var errorMessage = '@ViewData["ErrorMessage"]';

        // Log the error to the browser's developer console
        if (errorMessage) {
            console.error('Error: ' + errorMessage);
        }
    </script>
</div>
